{{if eq .KafkaAddrs "[]"}}
[lain_localfiles_output]
type = "FileOutput"
path="/data/heka/local/lain_output.log.%Y_%m_%d"
message_matcher = "Type == 'lain.docker_syslog' || Type == 'lain-app-log'"
encoder = "SyslogLainEncoder"
rotation_interval = 24
use_buffering = true

[lain_localfiles_output.buffering]
max_file_size = 268435456
max_buffer_size = 1073741824
full_action = "block"

[webrouter_localfiles_output]
type = "FileOutput"
path="/data/heka/local/webrouter_output.log.%Y_%m_%d"
message_matcher = "Type == 'webrouter.kafka.access'"
encoder = "WebRouterKafkaEncoder"
rotation_interval = 24
use_buffering = true

[webrouter_localfiles_output.buffering]
max_file_size = 268435456
max_buffer_size = 1073741824
full_action = "block"

{{else}}
[lain_kafka_output]
type = "KafkaOutput"
message_matcher = "Type == 'lain.docker_syslog' || Type == 'lain-app-log'"
topic_variable = "Fields[kafka_topic]"
addrs = {{.KafkaAddrs}}
encoder = "SyslogLainEncoder"
max_buffer_time = 15000
use_buffering = true

[lain_kafka_output.buffering]
max_file_size = 268435456
max_buffer_size = 1073741824
full_action = "block"

[webrouter_kafka_output]
type = "KafkaOutput"
message_matcher = "Type == 'webrouter.kafka.access'"
topic_variable = "Fields[kafka_topic]"
addrs = {{.KafkaAddrs}}
encoder = "WebRouterKafkaEncoder"
max_buffer_time = 15000
use_buffering = true

[webrouter_kafka_output.buffering]
max_file_size = 268435456
max_buffer_size = 1073741824
full_action = "block"
{{end}}

[WebRouterKafkaEncoder]
