[rsyslog_input]
type = "TcpInput"
address = ":8178"
keep_alive = true
splitter = "TokenSplitter"
decoder = "rsyslog_lain_decoder"

[rsyslog_lain_decoder]
type = "SandboxDecoder"
filename = "lua_decoders/rsyslog.lua"

[rsyslog_lain_decoder.config]
type = "rsyslog.lain"
template = '<%pri%> %timestamp:::date-rfc3339% %HOSTNAME% %syslogtag% %msg%\n'
tz = "Asia/Shanghai"
keep_host = true

[SyslogLainEncoder]

[SyslogLainFilter]
message_matcher = "Type == 'rsyslog.lain'"
lainlet_address = "{{.LainletURL}}"
nodename = "{{.NodeName}}"
