# Heka config for webrouter
{{range $key, $proc := .Containers}}
[webrouter_{{$proc.InstanceNo}}]
type = "LogstreamerInput"
log_directory = "/data/lain/volumes/webrouter/webrouter.worker.worker/{{$proc.InstanceNo}}/var/log/nginx/"
file_match = '(?P<ServerName>[^/]+)___(?P<UpstreamName>[^/]+)\.access\.log'
decoder = "webrouter_decoder"
oldest_duration = "48h"
differentiator = ["nginx.", "ServerName", "UpstreamName", ".access"]
{{end}}

{{if gt (len .Containers) 0}}
[webrouter_decoder]
type = "SandboxDecoder"
filename = "lua_decoders/nginx_access.lua"

[webrouter_decoder.config]
type = "webrouter.access"
user_agent_keep = true
# combined log format
log_format = '$remote_addr@$remote_user@[$time_local]@$Host@"$request"@$status@$body_bytes_sent@"$http_referer"@$http_user_agent@$http_x_forwarded_for@upstream_response_time@$upstream_response_time@request_time@$request_time'

[webrouter_httpstatus_filter]
type = "WebRouterHTTPStatusFilter"
ticker_interval = 60
output_message_type = "http_status.stat"
message_matcher = "Type == 'webrouter.access'"

[webrouter_graphite_filter]
type = "WebRouterGraphiteFilter"
output_message_type = "graphite.stat"
message_matcher = "Type == 'http_status.stat'"


[WebRouterKafkaFilter]
message_matcher = "Type == 'webrouter.access'"
output_message_type = "webrouter.kafka.access"
{{end}}
